{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} English Songs {% endblock title %}

{% block body %}

<br>
<!-- English Songs -->
<div class="container">
  <header class="section-heading">
    <h5 class="section-title">ENGLISH SONGS</h5>
  </header>
  <hr>
  <!-- Song list -->
  <div class="row">
    {% if english_songs %}
    {% for song in english_songs %}
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
        <div class="card" style="margin-right: 30px;">
          <div class="hovereffect">
        <img src="{{ song.song_img.url}}" class="img-responsive" height="135" width="135"
          style="border-radius: 8px 8px 8px 8px;">
        <div class="overlay">
          <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle"
              aria-hidden="true"></i></a>
        </div>
      </div>
      </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>


{% endblock body %}
